<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtV-8whhQmPBQNrbSvWj3yjeQgptNaXWY</string>
	<key>GCM_SENDER_ID</key>
	<string>1007891704462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eComAppFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecom-app-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>ecom-app-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007891704462:ios:904d9f8f527edf7668b7df</string>
</dict>
</plist>